html { 
  background: url('../img/files.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  background-color: rgba(255, 255, 255, 0.88);
  padding: 0px 50px 25px 50px;
} 

#search-submit {
  width: 90%;
}

button {
  border: 3px solid #000;
}

.list-item-deletable {
  font-size: .9em;
}

.delete-character {
  color: red;
  padding-right: 8px;
  cursor: pointer;
}

.err-msg {
  color: red;
  font-weight: bold;
}

.result-path {
  font-size: .9em;
  padding-left: 5px;
}

td, th {
  padding-right: 10px;
  padding-left: 10px;
}

.message-leave {
  opacity: 1;
}

.message-leave.message-leave-active {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration: 1000ms;
    -webkit-transition-duration: 1000ms;
    -o-transition-duration: 1000ms;
    transition-duration: 1000ms;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}